<div style="margin-bottom:1em">
    <p class="h1">Biography</p>
</div>
<div class="row">
    <div class="col-md">
        <img class="img-fluid" src="assets/shows/bio_1.jpg" alt="latest_lineup">
        <img class="img-fluid" src="assets/promoPictures/bio_3.jpeg" alt="latest_lineup">
        <img class="img-fluid" src="assets/promoPictures/bio_5.jpg" alt="latest_lineup">
        <img class="img-fluid" src="assets/promoPictures/bio_7.jpg" alt="latest_lineup">
    </div>
    <div class="col-md">
        <img class="img-fluid" src="assets/graphics/middle-sleeve.png" alt="logo">
        <p class="text-indent: 50px">Murder Bizkitz is a fast hardcore punk rock band based in Bangkok but lending its ambitions internationally the power trio plays their own brand of hardcore punk music with political and social observational lyrics and sometimes has a sense of humour. The music is maybe a celebration of the hay day of hardcore punk music with influences like Bad Brains, Fear and Dead Kennedys creeping into the mix and a style of their own as well. They started in 2015 as a pretty rough diamond but have shaped their songwriting skills and have released 2 albums and a debut EP since they began. The band has played in Vietnam Thailand and Myanmar with shows in sight to play in more countries in Asia after they record their third album.</p>
    </div>
    <div class="col-md">
        <img class="img-fluid" src="assets/promoPictures/bio_2.jpg" alt="latest_lineup">
        <img class="img-fluid" src="assets/promoPictures/bio_4.jpeg" alt="latest_lineup">
        <img class="img-fluid" src="assets/promoPictures/bio_6.jpg" alt="latest_lineup">
        <img class="img-fluid" src="assets/shows/tbw2.jpg" alt="latest_lineup">
    </div>
</div>

