.songs-album_header{
    margin: auto 0;
}
.songs-album_social{
    padding: 0 3rem 
}
.table-dark{
    --bs-table-bg: black
}
.songs-album_lyrics{
    text-align:center;
    margin-bottom:2rem;
}
.songs-album_lyrics .longQuotes{
    margin: 1rem 17rem;
    text-align: left;
    text-indent: 3rem;
}
a{
    color:white;
    display:block;
    width:-webkit-fill-available;
    text-decoration: none;
}