<div class="row">
    <div class="col-md-6">
        <p class="h1" style="margin-bottom:1em">Facts about the band</p>
        <dl>
            <dt>Country of Origin: </dt>
            <dd>Bangkok, Thailand</dd>
            <dt>Name: </dt>
            <dd>Murder Bizkitz</dd>
            <dt>Members: </dt>
            <dd>
                <ul>
                    <li>Tony McMurder (Guitar)</li>
                    <li>Pan (Bass)</li>
                    <li>Dimytro Klimov (Drums)</li>
                </ul>
            </dd>
            <dt>Genre: </dt>
            <dd>Hardcore Punk</dd>
            <dt>Influences: </dt>
            <dd>
                <div class="row">
                    <div class="col-md">
                        <ul>
                            <li>Dead Kennedys</li>
                            <li>Bad Brains</li>
                            <li>Black Flag</li>
                            <li>Minor Threat</li>                           
                        </ul>
                    </div>
                    <div class="col-md">
                        <ul>
                            <li>Bo Ningen</li>
                            <li>Cro Mags</li>
                            <li>The Stooges</li>
                            <li>Fear</li>
                        </ul>
                    </div>
                    <div class="col-md"></div>
                </div>
            </dd>
            <dt>Record Label:</dt>
            <dd>Grimace Records</dd>
            <dt>Contact Information:</dt>
            <dd>murderbizkitz@gmail.com</dd>
        </dl>  
    </div>
    <div class="col-md-6">
        <img class="img-fluid" src="assets/latestlineup.jpg" alt="latest_lineup">
        
    </div>
</div>