<div class="row">
    <div class="col-md-6">
        <p class="h1" style="margin-bottom:1em">Facts about the band</p>
        <div class="row" style='margin: 3rem 0'>
            <div class="col-md-2">
                <a href="https://open.spotify.com/artist/67u1omzVv4TRSyNhL9xhtk"><img class='img-fluid' src="assets/spotify.png"/></a>
            </div>
            <div class="col-md-2">
                <a href="https://tidal.com/browse/artist/9039089"><img class='img-fluid' src="assets/tidal.png"/></a>
            </div>
            <div class="col-md-2">
                <a href="https://murderbizkitz.bandcamp.com/album/murder-bizkitz"><img class='img-fluid' src="assets/bandcamp.png"/></a>
            </div>
            <div class="col-md-2">
                <a href="https://www.youtube.com/channel/UCmUTZ0sA--tzG64zFO75w7w"><img class='img-fluid' src="assets/youtube.png"/></a>
            </div>
            <div class="col-md-2">
                <a href="https://www.facebook.com/people/Murder-Bizkitz/100063534820192/"><img class='img-fluid' src="assets/facebook.png"/></a>
            </div>
            <div class="col-md-2">
                <a href="https://www.instagram.com/murderbizkitz/?hl=en"><img class='img-fluid' src="assets/instagram.png"/></a>
            </div>
        </div>
        <dl>
            <dt>Country of Origin: </dt>
            <dd>Bangkok, Thailand</dd>
            <dt>Name: </dt>
            <dd>Murder Bizkitz</dd>
            <dt>Members: </dt>
            <dd>
                <ul>
                    <li>Tony Mac (Guitar)</li>
                    <li>Pan (Bass)</li>
                    <li>Dimytro Klimov (Drums)</li>
                </ul>
            </dd>
            <dt>Genre: </dt>
            <dd>Hardcore Punk</dd>
            <dt>Influences: </dt>
            <dd>
                <div class="row">
                    <div class="col-md">
                        <ul>
                            <li>Dead Kennedys</li>
                            <li>Bad Brains</li>
                            <li>Black Flag</li>
                            <li>Minor Threat</li>                           
                        </ul>
                    </div>
                    <div class="col-md">
                        <ul>
                            <li>Bo Ningen</li>
                            <li>Cro Mags</li>
                            <li>Oi Polloi</li>
                            <li>Fear</li>
                        </ul>
                    </div>
                    <div class="col-md">
                    </div>
                </div>
            </dd>
            <dt>Record Label:</dt>
            <dd>Grimace Records</dd>
            <dt>Contact Information:</dt>
            <dd>murderbizkitz@gmail.com</dd>
        </dl>  
    </div>
    <div class="col-md-6">
        <img class="img-fluid" src="assets/promoPictures/approvedPic.jpg" alt="latest_lineup">
        
    </div>
</div>